/* stylelint-disable */
$brand-primary: #FCEE0A;
$brand-secondary: #02D7F2;

$orange-base: #FF6000;

$yellow-darker-5: #9C9503;

$grey-light-1: #FFFFFF;
$grey-light-3: rgba(0, 0, 0, 0.4);
$grey-light-5: #CDCDCD;
$grey-dark-4: #0E0E0E;
$grey-dark-5: #CDCDCD;
