@import '../../scss/constant/colors';
@import '../../scss/mixins/media-queries';

$night-city-wire--logo-size: 300px;
$night-city-wire--logo-size-sm: $night-city-wire--logo-size / 2;

.night-city-wire {
  .head-intro__eyebrow {
    opacity: .3;
  }

  &__image {
    opacity: .6;
  }

  &__episode {
    display: block;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      .night-city-wire__watch {
        opacity: .6;
      }
    }
  }

  &__watch {
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s ease-in-out;
    z-index: 2;
  }

  &__logo {
    align-items: center;
    background-color: $brand-primary;
    border-radius: 50%;
    display: flex;
    height: $night-city-wire--logo-size-sm;
    justify-content: center;
    margin: -#{$night-city-wire--logo-size-sm / 2} auto 0;
    position: relative;
    width: $night-city-wire--logo-size-sm;
    z-index: 2;
  }

  @include bp(lg) {
    height: $night-city-wire--logo-size;
    margin-top: -#{$night-city-wire--logo-size / 2};
    width: $night-city-wire--logo-size;
  }
}
