@import '../../../../scss/constant/colors';

.horizontal-line {
  position: relative;

  &::before {
    background-color: $brand-primary;
    content: '';
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
  }
}
