@import '../../../../scss/constant/colors';
@import '../../../../scss/constant/font-family';
@import '../../../../scss/mixins/media-queries';

.cyberpunk-headline {
  color: $grey-light-1;
  font-family: $headline-font;
  -webkit-font-smoothing: antialiased;
  font-weight: $headline-weight;
  hyphens: none;
  overflow-wrap: initial;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  word-wrap: initial;

  &--headline-one {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 35px;

    @include bp(md-only) {
      font-size: 100px;
      letter-spacing: 7px;
      line-height: 90px;
    }

    @include bp(lg) {
      font-size: 120px;
      letter-spacing: 7px;
      line-height: 110px;
    }
  }

  &--headline-two {
    font-size: 80px;
    line-height: 75px;
  }

  &--headline-three {
    font-size: 70px;
    line-height: 70px;
  }

  &--headline-four {
    font-size: 65px;
    line-height: 60px;
  }

  &--headline-five {
    font-size: 48px;
    line-height: 40px;
  }

  &--headline-six {
    font-size: 40px;
    line-height: 45px;
  }

  &--color-yellow {
    color: $brand-primary;
  }
}
