@import '../../../../scss/constant/colors';
@import '../../../../scss/constant/font-family';
@import '../../../../scss/mixins/media-queries';

.cyberpunk {
  &-eyebrow {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &-body {
    color: rgba($grey-light-1, .6);
    font-size: 20px;
    line-height: 32px;
  }

  @include bp(lg) {
    &-eyebrow {
      font-size: 20px;
      letter-spacing: 4px;
      line-height: 20px;
    }
  }
}
